Repository delaford/game, pull requests merged in 2019-02, with the labels that each got.

#57 💰 Allow players to store items in banks
  .stylelintrc
  jsconfig.jscon
  server/Delaford.js
  server/config.js
  server/core/context-menu.js
  server/core/data/action-list.js
  server/core/data/helpers/database.js
  server/core/data/items/general.js
  server/core/data/npcs.js
  server/core/player.js
  server/core/skills/index.js
  server/maps/layers/surface.json
  server/maps/surface.tmx
  server/player/handlers/actions/index.js
  server/player/handlers/socket-events/index.js
  server/shared/ui.js
  src/assets/graphics/actors/npcs.png
  src/components/GameCanvas.vue
  src/components/game-panes/Bank.vue
  src/components/game-panes/sub/pane-header.vue
  src/components/slots/Inventory.vue
  src/components/util/ItemGrid.vue
  src/core/map.js
  src/core/player/events.js
  src/core/player/events/item.js
  src/core/player/events/screen.js
  src/main.js
  vue.config.js
Labels: backend, canvas, core engine, database, enhancement, front end, hard, new feature

#65 Introduce stackable items (coins, arrows, etc.) to game
  server/core/data/action-list.js
  server/core/data/items/general.js
  server/core/functions/bank.js
  server/core/functions/index.js
  server/maps/layers/surface.json
  server/maps/surface.tmx
  server/player/handlers/actions/index.js
  server/player/pipeline/index.js
  src/assets/graphics/items/general.png
  src/assets/graphics/items/original/general.xcf
  src/assets/tiles/objects.png
  src/assets/tiles/objects.xcf
  src/components/util/ItemGrid.vue
Labels: backend, canvas, core engine, hard, new feature, player

#66 Add the top action from context-menu as first left-click on the top-left of game
  server/core/context-menu.js
  server/player/handlers/actions/index.js
  src/components/GameCanvas.vue
  src/components/sub/ContextMenu.vue
  src/components/util/ItemGrid.vue
Labels: backend, canvas, core engine, enhancement, user interface

#68 Bug fixes
  src/Delaford.vue
  src/components/Chatbox.vue
Labels: canvas, enhancement, user interface

#70 🏫 Add shops to game 💸
  README.md
  server.js
  server/core/context-menu.js
  server/core/data/action-list.js
  server/core/data/foreground/index.js
  server/core/data/foreground/shops.js
  server/core/data/helpers/database.js
  server/core/data/items/general.js
  server/core/data/items/weapons.js
  server/core/data/npcs.js
  server/core/functions/index.js
  server/core/functions/shop.js
  server/core/map.js
  server/player/action.js
  server/player/handlers/actions/index.js
  src/assets/graphics/actors/npcs.png
  src/assets/graphics/items/general.png
  src/assets/graphics/items/original/general.xcf
  src/components/GameCanvas.vue
  src/components/game-panes/Shop.vue
  src/components/util/ItemGrid.vue
Labels: backend, canvas, core engine, new feature, player, user interface
